<div ng-controller="ofiController">

	<uib-tabset active="active"> <uib-tab index="1">
	<uib-tab-heading> Oficinas </uib-tab-heading>

	<div class="tab-content">
		<form [formGroup]="searchCriteria" ng-submit="search()"
			class="text-sm">
			<div class="row">
				<div class="col-sm-12 inline-container-Group"
					style="margin-top: 10px; padding: 10px; border: 1px solid #d5d5d5">
					<p class="modal-title"
						style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">
						Criterios de búsqueda:</p>
					<fieldset style="width: 100%;">
						<div class="row">

							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">Descripción:
							</label>
							<div class="col-sm-2">
								<input class="form-control" name="descripcion" maxlength="50"
									placeholder="Ej. oficina" style="width: 100%" type="text"
									ng-model="model.descripcion">
							</div>

							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">Descripción
								Completa: </label>
							<div class="col-sm-2">
								<input class="form-control" name="descripcion" maxlength="50"
									placeholder="Ej. xxxxx" style="width: 100%" type="text"
									ng-model="model.desc_completa">
							</div>

							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">Acr&oacute;nimo:
							</label>
							<div class="col-sm-2">
								<input class="form-control" name="descripcion" maxlength="50"
									placeholder="Ej. xxxxx" style="width: 100%" type="text"
									ng-model="model.acronimo">
							</div>



						</div>

						<div class="row">

							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">C&oacute;digo:
							</label>
							<div class="col-sm-2">
								<input class="form-control" name="codigo" maxlength="50"
									placeholder="Ej. xxxxx" style="width: 100%" type="text"
									ng-model="model.codigo">
							</div>



							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">Jefe: </label>
							<div class="col-sm-2">
								<input class="form-control" name="jefe" maxlength="50"
									placeholder="Ej. xxxxx" style="width: 100%" type="text"
									ng-model="model.jefe">
							</div>



							<div class="col-sm-3" style="margin-right: 20px;">
								<button id="btnBuscarUsuario" class="btn btn-blue" type="submit">
									<i class="clip-search"></i>&nbsp; Buscar
								</button>

								<button class="btn btn-warning" type="button"
									ng-click="Limpiar()">
									<i class="clip-cancel-circle"></i>&nbsp; Limpiar
								</button>

								<!--  <button id="btnLimpiar" class="btn btn-secondary" type="button" ng-click="Limpiar()"  ><i
                                class="clip-spinner-6"></i>&nbsp;
                            Limpiar
                        </button> -->

							</div>
						</div>




					</fieldset>
				</div>
			</div>
		</form>
		<div class="flex flex-row">
			<!-- <button id="btn_Nuevo" style="margin-right: 5px;" ng-click="openCreate()" class="btn btn-red mt-3"
                type="button"><i class="clip-plus-circle-2"></i>&nbsp; Nuevo</button> -->
			<!--  <button id="btnExportar" ng-click="exportarAExcel()" class="btn btn-dark-grey mt-3" type="button"><i
            class="clip-file-excel"></i>&nbsp; Exportar a Excel</button> -->
		</div>
	</div>

	<div class="tab-content" style="margin: 0px; padding: 0px;">
		<div class="inline-container-Group p-0 mt-3 bg-white">
			<h2 class="grid-title">Listado de oficinas</h2>
			<div class="table-responsive">
				<table class="table table-hover" dt-options="dtOptions"
					datatable="ng">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">Externo</th>
							<th class="text-center">C&oacute;digo</th>
							<th class="text-center">Acr&oacute;nimo</th>
							<th class="text-center">Descripción</th>
							<th class="text-center">Descripción Completa</th>
							<th class="text-center">Jefe</th>

						</tr>
					</thead>
					<tr ng-repeat="item in dataListaOficinas">
						<td>{{$index + 1}}</td>
						<td class="text-center"><label class="switch"> <input
								id="Vehiculos_chk_{{$index + 1}}" type="checkbox"
								ng-model="item.flg_externo" ng-true-value="1" ng-false-value="0"
								ng-change="CambiarEstado(item)"> <span
								class="slider round"></span>
						</label> </label></td>

						<td class="text-center">{{item.codigo}}</td>
						<td class="text-center">{{item.acronimo}}</td>
						<td class="text-center">{{item.descripcion}}</td>
						<td class="text-center">{{item.descripcioncompleta}}</td>
						<td class="text-center">{{item.jefe}}</td>


					</tr>
				</table>
			</div>
			<!--             <div ng-show="totalItems > 1" class="mt-3 row"> -->
			<!--                 <div class="col-md-7"> -->
			<!--                     <ul class="ml-2 mr-2" uib-pagination previous-text="Anterior" next-text="Siguiente" -->
			<!--                         total-items="totalItems" ng-model="currentPage" max-size="maxSize" -->
			<!--                         items-per-page="itemsPerPage" class="pagination-sm" boundary-link-numbers="true" -->
			<!--                         rotate="false"></ul> -->
			<!--                 </div> -->
			<!--             </div> -->
		</div>
	</div>




	</uib-tab> <uib-tab index="2" select="getMEFTipoDocumento()"> <uib-tab-heading>
	Tipo de documento </uib-tab-heading>

	<div class="inline-container-Group p-0 mt-3 bg-white">
		<form [formGroup]="searchCriteria" ng-submit="search()"
			class="text-sm">
			<div class="row">
				<div class="col-sm-12 inline-container-Group"
					style="margin-top: 10px; padding: 10px; border: 1px solid #d5d5d5">
					<p class="modal-title"
						style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">
						Criterios de búsqueda:</p>
					<fieldset style="width: 100%;">


						<div class="row">

							<label class="col-sm-2 control-label"
								style="margin-top: 5px; text-align: right;">Descripci&oacute;n:
							</label>
							<div class="col-sm-2">
								<input class="form-control" name="desc_tipodocumento"
									maxlength="50" placeholder="Ej. xxxxx" style="width: 100%"
									type="text" ng-model="model2.desc_tipodocumento">
							</div>




							<div class="col-sm-3" style="margin-right: 20px;">
								<button class="btn btn-blue" type="button"
									ng-click="getMEFTipoDocumento()">
									<i class="clip-search"></i>&nbsp; Buscar
								</button>

								<button class="btn btn-warning" type="button"
									ng-click="LimpiarT()">
									<i class="clip-cancel-circle"></i>&nbsp; Limpiar
								</button>

							</div>
						</div>




					</fieldset>
				</div>
			</div>
		</form>
		<div class="flex flex-row"></div>
	</div>

	<div class="tab-content" style="margin: 0px; padding: 0px;">
		<div class="inline-container-Group p-0 mt-3 bg-white">
			<h2 class="grid-title">Listado de tipo de documento</h2>
			<div class="table-responsive">
				<table class="table table-hover" dt-options="dtOptions"
					datatable="ng">
					<thead>
						<tr>
							<th style="width: 10px"></th>
							<th class="text-center">Estado</th>
							<th class="text-center">Descripción</th>

						</tr>
					</thead>
					<tr ng-repeat="item in tipoDocumento">
						<td>{{$index + 1}}</td>
						<td class="text-center"><label class="switch"> <input
								id="Vehxiculos_chk_{{$index + 1}}" type="checkbox"
								ng-model="item.flg_estado" ng-true-value="'1'"
								ng-false-value="'0'" ng-change="CambiarEstadoT(item)"> <span
								class="slider round"></span>
						</label></td>

						<td class="text-center">{{item.desc_tipodocumento}}</td>


					</tr>
				</table>
			</div>
			<div ng-show="totalItems > 1" class="mt-3 row">
				<div class="col-md-7">
					<ul class="ml-2 mr-2" uib-pagination previous-text="Anterior"
						next-text="Siguiente" total-items="totalItems"
						ng-model="currentPage" max-size="maxSize"
						items-per-page="itemsPerPage" class="pagination-sm"
						boundary-link-numbers="true" rotate="false"></ul>
				</div>
			</div>

		</div>
	</div>




	</uib-tab> </uib-tabset>
</div>