<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body>
	<table
		style="background-color: #ffffff; width: 100%; border: #dadfe6 2px solid"
		align="center" cellpadding="3" cellspacing="2">
		<tbody>
			<tr>
				<td><span><table
							style="background-color: #ffffff; width: 100%" cellspacing="0"
							cellpadding="0" border="0">
						</table>
						<table
							style="font-size: 11px; color: #000000; font-family: arial; text-align: justify; width: 100%; border-bottom: 1px"
							cellspacing="2" border="0">
							<tbody>
								<tr>

									<td style="height: 16px"><img src="logo.png"
										th:src="|cid:${imageResourceName}|" /></td>


									<td style="height: 16px; text-align: right; font-size: 20px;">Hoja
										de Envio:</td>
									<td><em th:text="${hoja_envio}"
										style="font-style: normal; font-weight: bold; padding: 15px; background-color: #dadfe6;"></em>
									</td>
								</tr>
								<tr>
									<td colspan="2"><h1
											style="text-align: center; margin-top: 5px; margin-bottom: 5px">
											<b style="color: #e23636; font-weight: 600; font-size: 20px;">
												VENTANILLA ELECTR&Oacute;NICA</b>
										</h1></td>
								</tr>
							</tbody>
						</table>
						<table
							style="font-size: 11px; color: #000000; font-family: arial; text-align: justify; width: 100%; border-bottom: 1px"
							cellspacing="2" border="0">
							<tbody>
								<tr>
									<td style="height: 16px">Sr(a).</td>
								</tr>
								<tr>
									<td style="height: 16px;">${nombre}</td>
								</tr>
								<tr>
									<td style="height: 16px">Se le informa que el Ministerio
										de Econom&iacute;a y Finanzas le ha notificado una
										comunicaci&oacute;n a su <a href="https://apps.mineco.gob.pe/ventanilla/app/login.html#!/">casilla electr&oacute;nica </a>:</em>
									</td>
								</tr>
							</tbody>
						</table>

						<table
							style="border: #dadfe6 1px solid; width: 100%; border-bottom: 1px"
							cellspacing="0" cellpadding="2" width="55%">
							<tbody>
								<tr
									style="font-weight: bold; font-size: 11px; letter-spacing: 1px; font-family: arial; background-color: #cac8c8; text-align: center;">
									<td colspan="2"
										style="color: #000000; padding: 3.75pt 3.75pt 3.75pt 3.75pt">
										DATOS DE LA NOTIFICACI&Oacute;N</td>
								</tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial"></tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial">
									<td style="border: #dadfe6 1px solid; width: 25%; height: 20px">Tipo
										de Documento :</td>
									<td style="border: #dadfe6 1px solid; width: 75%; height: 20px"><em
										th:text="${tipo_documento}" style="font-style: normal;"></em></td>
								</tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial"></tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial">
									<td style="border: #dadfe6 1px solid; width: 25%; height: 20px">Nro
										Documento :</td>
									<td style="border: #dadfe6 1px solid; width: 75%; height: 20px">${nro_documento}
									</td>
								</tr>

								<tr style="font-size: 11px; color: #000000; font-family: arial"></tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial">
									<td style="border: #dadfe6 1px solid; width: 25%; height: 20px">Hoja
										de Ruta :</td>
									<td style="border: #dadfe6 1px solid; width: 75%; height: 20px">
										${hoja_ruta}</td>
								</tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial"></tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial">
									<td style="border: #dadfe6 1px solid; width: 25%; height: 20px">Asunto
										:</td>
									<td style="border: #dadfe6 1px solid; width: 100%;">
										${asunto}</td>
								</tr>
								<tr style="font-size: 11px; color: #000000; font-family: arial"></tr>

							</tbody>
						</table>
						<table
							style="font-size: 11px; color: #000000; font-family: arial; text-align: justify; width: 100%; border-bottom: 1px"
							cellspacing="2" border="0">
							<tbody>
								<tr>
									<td style="height: 16px">Atentamente,</td>
								</tr>
								<tr>
									<td style="height: 16px; font-weight: bold;">Ministerio de
										Econom&iacute;a y Finanzas - MEF</td>
								</tr>
							</tbody>
						</table> </span></td>
			</tr>
			<tr>
				<td><span></span>
					<table
						style="vertical-align: baseline; height: 20px; width: 100%; border-bottom: 1px solid #dadfe6; border-top: 1px solid #dadfe6"
						cellspacing="0" cellpadding="5">
						<tbody>
							<tr
								style="font-size: 11px; color: #000000; font-family: Arial; background-color: #ffffff;">
								<td style="text-align: center; font-weight: bold">MEF
									Copyright ${anio}, Todos los derechos reservados</td>
							</tr>
						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
