<div ng-controller="mpeController">
	<uib-tabset active="active"> <uib-tab index="1">
	<uib-tab-heading> Mis solicitudes </uib-tab-heading>

	<div class="inline-container-Group p-0 mt-3 bg-white">
		<form [formGroup]="searchCriteria" ng-submit="searchSolicitudes()"
			class="text-sm">
			<div class="col-sm-12 inline-container-Group"
				style="margin-top: 10px; padding: 10px; border: 1px solid #d5d5d5">
				<p class="modal-title"
					style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">
					Criterios de b&uacute;squeda:</p>
				<fieldset style="width: 100%;">
					<div class="row">
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Estado: </label>
						<div class="col-sm-2">
							<select ng-model="model.estado" name="estado" id="estado"
								class="form-control">
								<option value="" selected>-- Todos --</option>
								<option value="1">Pendiente</option>
								<option value="2">Observado</option>
								<option value="3">Recibido</option>
							</select>

						</div>
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Nro
							Solicitud: </label>
						<div class="col-sm-2">
							<input class="form-control" ng-model="model.numeroSolicitud"
								numbers-only name="numeroSolicitud" maxlength="11"
								placeholder="Ej. 00002" style="width: 100%" type="text" value="">
						</div>
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">&Oacute;rgano
							destino: </label>
						<div class="col-sm-2">
							<select ng-model="model.organoDestino" name="organoDestino"
								class="form-control" select2>
								<option value="" selected>-- Todos --</option>
								<option data-ng-repeat="item in oficinas"
									value={{item.idunidad}}>{{item.descripcioncompleta}}</option>
							</select>
						</div>
					</div>

					<div class="row">
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Fecha Inicio:
						</label>
						<div class="col-sm-2">
							<input ng-model="model.fechaInicio" class="form-control"
								type="date" name="fechaInicio" max="9999-12-31">
						</div>

						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Fecha Fin: </label>
						<div class="col-sm-2">
							<input ng-model="model.fechaFin" class="form-control" type="date"
								name="fechaFin" max="9999-12-31">
						</div>

						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right; padding-left: 0px;">Tipo
							Documento: </label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="model.tipoDocumento"
								name="tipoDocumento" select2>
								<option value="" selected>-- Todos --</option>
								<option data-ng-repeat="item in tipoDocumento"
									value={{item.id_tipodocumento}}>
									{{item.desc_tipodocumento}}</option>
							</select>
						</div>
					</div>

					<div class="row">
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Nro
							Documento: </label>
						<div class="col-sm-2">
							<input ng-model="model.numeroDocumento" class="form-control"
								name="numeroDocumento" maxlength="50" placeholder="Ej. I008-500"
								style="width: 100%" type="text" value="">
						</div>
						<label class="col-sm-2 control-label"
							style="margin-top: 5px; text-align: right;">Asunto: </label>
						<div class="col-sm-2">
							<input ng-model="model.asunto" class="form-control"
								maxlength="100" name="asunto" placeholder="Ej. Asunto"
								style="width: 100%" type="text" value="">
						</div>
						<div class="col-sm-4">
							<button id="btnBuscar" class="btn btn-blue mr-1" type="submit">
								<i class="clip-search"></i>&nbsp; Buscar
							</button>
							<button id="btnLimpiar" class="btn btn-warning" type="button"
								ng-click="limpiar();">
								<i class="clip-cancel-circle"></i>&nbsp; Limpiar
							</button>
						</div>
					</div>
				</fieldset>
			</div>
		</form>
		<div class="flex flex-row">
			<button id="btn_Nuevo" style="margin-right: 5px;"
				ng-click="openCreate()" class="btn btn-red mt-3" type="button">
				<i class="clip-plus-circle-2"></i>&nbsp; Nuevo
			</button>
			<button id="btnExportar" ng-click="exportarAExcel()"
				class="btn btn-dark-grey mt-3" type="button">
				<i class="clip-file-excel"></i>&nbsp; Exportar a Excel
			</button>
		</div>
	</div>

	<div class="inline-container-Group p-0 mt-3 bg-white">
		<h2 class="grid-title">Listado de Solicitudes</h2>
		<div class="ml-auto col-lg-3 col-md-4 col-xs-12 p-2">
			<select select2 class="form-control" ng-model="model.orden"
				name="orden[]" multiple="multiple" ng-change="getSolicitudes()"
				data-placeholder="--Seleccionar Orden--" data-allow-clear="true">
				<option></option>
				<option data-ng-repeat="item in orden" value={{item.valor}}>
					{{item.descripcion}}</option>
			</select>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th></th>
						<th class="text-center">Ver</th>
						<th class="text-center">Movimientos STD</th>
						<th class="text-center">Subsanar</th>
						<th class="text-center">Nro Solicitud</th>
						<th class="text-center">Tipo Documento</th>
						<th>Nro Documento</th>
						<th class="text-center">Estado Trámite</th>
						<th class="text-center">Fecha de Solicitud</th>
						<th class="text-center">Fecha de Recepción</th>
						<th class="text-center">Fecha de Anulación</th>
						<th class="text-center">&Oacute;rgano Destino</th>
						<th class="text-center">Cant. Folios</th>
						<th class="text-center">Cant. Anexos</th>
						<!-- 						<th class="text-center">Hoja de Ruta Referencial</th> -->
						<th class="text-center">Hoja de Ruta</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in requestsData">
						<td>{{ request.numreg }}</td>
						<td class="text-center"><button title="Ver Solicitud"
								ng-click="openViewSolicitud(request.id_documento)"
								class="btn btn-link" type="button" style="outline: none;">
								<i class="fa fa-search" style="color: #b30a14; font-size: 18px;"></i>
							</button></td>
						<td class="text-center">
							<button ng-show="request.id_estado_documento!=8"
								title="Ver movimientos" class="btn btn-link" type="button"
								style="outline: none;"
								ng-click="openModalVisualizarMovimientos(request.id_documento,'xl')">
								<i class="clip-stack" style="color: #b48426; font-size: 18px;"></i>
							</button>
							<span ng-show="request.id_estado_documento == 8">-</span>
						</td>
						<td class="text-center">
							<button ng-show="request.id_estado_documento == 2"
								title="Subsanar Solicitud"
								ng-click="openEdit(request.id_documento)" class="btn btn-link"
								type="button" style="outline: none;">
								<i class="clip-pencil-3"
									style="color: #b30a14; font-size: 18px;"></i>
							</button> <span ng-show="request.id_estado_documento != 2">-</span>
						</td>
						<td class="text-center">{{ request.id_documento }}</td>
						<td class="text-center">{{ request.desc_tipo_documento }}</td>
						<td>{{ request.nro_documento }}</td>
						<td class="text-center"><span style="font-size: 11px;"
							class="badge"
							ng-class="getStatusClass('badge',{{request.id_estado_documento}})">{{
								request.estado_documento }}</span></td>
						<td class="text-center">{{ request.srt_fecha_creacion }}</td>
						<td class="text-center">{{ request.srt_fecha_recibido }}</td>
						<td class="text-center">{{ request.fecha_anulacion }}</td>
						<td class="text-center">{{ request.desc_oficina }}</td>
						<td class="text-center">{{ request.nro_folios }}</td>
						<td class="text-center">{{ request.nro_anexos }}</td>
						<!-- <td class="text-center">{{ request.hoja_ruta_referencial }}</td> -->
						<!-- <td class="text-center">{{ request.numero_sid }} - {{ request.anio }}</td> -->
						<td class="text-center" ng-if="request.numero_sid == ''">
							<i class="fa fa-clock-o" style="color: #b30a14; font-size: 18px;"></i>
						</td>
						<td class="text-center" ng-if="request.numero_sid != ''">
							{{ request.numero_sid }} - {{request.anio }}
						</td>

					</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="totalItems > 1" class="mt-3 row">
			<div class="col-md-7">
				<ul class="ml-2 mr-2" uib-pagination previous-text="Anterior"
					next-text="Siguiente" total-items="totalItems"
					ng-model="currentPage" max-size="maxSize"
					items-per-page="itemsPerPage" class="pagination-sm"
					boundary-link-numbers="true" rotate="false"
					ng-change="pageChanged()"></ul>
			</div>
		</div>
	</div>

	</uib-tab> </uib-tabset>
</div>
